/*
Codeblock styling + syntax 
*/
.codeBlock {
    background-color: #2a2e2f;
    color: grey;
}

.codeBlock em {
    color: bisque;
    font-style: normal;
}

.codeBlock b {
    color: darkkhaki;
    font-weight: normal;
}

.codeBlock i {
    color: darkorange;
    font-style: normal;
}

.codeBlock u {
    color: darkolivegreen;
    text-decoration: none;
}

/*
Main Page styling
*/
body {
    margin: 15px;
    padding: 0;
    background-color: #2d3133;
    color: #ccc8c1;
    font-family: monospace;
}

a {
    color: darkorange;
    text-decoration: none;
}

a:hover {
    color: orange;
    text-decoration: underline;
}

ul, li {
    list-style-type: square;
}

/*
Logo + header styling
*/
#logo {
    width: max-content;
    color: darkkhaki;
}

header {
    border-radius: 2px;
    margin-bottom: 25px;
}